<div class="location-container">
  <div class="title">
    <h1>{{location.car.car_brand}} {{location.car.car_model}}</h1>
    <img src="{{location.car.car_picture}}" class="img-car">
  </div>

  <div class="location-details">
    <section class="location-dates">
      <span>Date de retrait : {{formatDate(location.retrait.withdrawal_date)}}</span>
      <span>Date de retour : {{formatDate(location.retour.return_date)}}</span>
    </section>

    <mat-divider class="divider"></mat-divider>

    <section>
      <h2>Informations Client</h2>
      <table class="info-table">
        <tr>
          <td><strong>Nom :</strong> {{ location.client.client_name }}</td>
          <td><strong>Prénom :</strong> {{ location.client.client_firstname }}</td>
        </tr>
        <tr>
          <td><strong>Email :</strong> {{ location.client.client_email }}</td>
          <td><strong>Date de naissance :</strong> {{ formatDate(location.client.client_birth) }}</td>
        </tr>
        <tr>
          <td><strong>N° permis :</strong> {{ location.client.client_license_number }}</td>
          <td><strong>Délivré le :</strong> {{ formatDate(location.client.client_license_issue_date) }}</td>
        </tr>
        <tr>
          <td><strong>Expire le :</strong> {{ formatDate(location.client.client_license_expiry_date) }}</td>
        </tr>
      </table>
    </section>

    <mat-divider class="divider"></mat-divider>

    <section>
      <h2>Informations Véhicule</h2>
      <table class="info-table">
        <tr>
          <td><strong>Modèle :</strong> {{ location.car.car_model }}</td>
          <td><strong>Marque :</strong> {{ location.car.car_brand }}</td>
        </tr>
        <tr>
          <td><strong>Carburant :</strong> {{ location.car.car_fuel }}</td>
          <td><strong>Prix / jour :</strong> {{ location.car.car_price/100 }} €</td>
        </tr>
      </table>
    </section>

    <mat-divider class="divider"></mat-divider>

    <div class="total">
      Total : <span>{{ getTotalPrice(location) }} €</span>
    </div>
  </div>
</div>
