<mat-card class="car-card" *ngIf="car">
  <a [routerLink]="['/voiture', car.id]" class="back-link">
    <div class="img-container">
      <img *ngIf="car.picture" [src]="car.picture" alt="{{ car.brand }} {{ car.model }}" />
    </div>

    <mat-card-content>
      <div class="category-container">
        <span class="category-badge" *ngFor="let category of car.categories">{{ category.name }}</span>
        <span class="category-badge fuel-badge">{{ car.fuel }}</span>
      </div>
      
      <mat-card-title>{{ car.brand }} {{ car.model }} <span class="similaire">ou similaire</span></mat-card-title>
      
      <p class="agency-name">
        <mat-icon>storefront</mat-icon>
        Agence {{car.agency?.name}}
      </p>
    </mat-card-content>
  </a>
  
  <div class="bottom-card">
    <div class="price-container">
      <span class="price">{{car.price/100}}€</span>
      <span class="price-suffix">/jour</span>
    </div>
    <button mat-flat-button color="primary" class="btn-reserver" [routerLink]="['/voiture', car.id, 'rent']">Réserver</button>
  </div>
</mat-card>
