<div class="close-nav">
  <button id="closeSidebarFilters" class="closeSidebar">
    <mat-icon>close</mat-icon>
    Fermer
  </button>
</div>

<div class="filters-content">
  <h3>Affiner</h3>

  <div class="filter-deploy">

    <div class="filtres-agences">
      <label for="agency">Agences :</label><br>
      <select id="agency" [(ngModel)]="selectedAgencyId">
        <option value="">-- Toutes les agences --</option>
        <option *ngFor="let agency of agencies" [value]="agency.id">
          {{ agency.agency_name }}
        </option>
      </select>
    </div>

    <div class="filtres-category">
      <label for="category">Categories :</label><br>
      <select id="category" [(ngModel)]="selectedCategoryId">
        <option value="">-- Toutes les categories --</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.category_name }}
        </option>
      </select>
    </div>

  </div>

  <div class="filter-result">
    <button id="applyFiltersButton" class="apply-filter" (click)="onSelectionChange()">
      Afficher les résultats
    </button>
  </div>

  <div class="reset-filters">
    <button id="resetFiltersButton" type="button" (click)="resetFilters()">
      Réinitialiser les filtres
    </button>
  </div>
</div>
