<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- Étape 1 : Réservation -->
  <mat-step [stepControl]="reservationGroup">
    <form [formGroup]="reservationGroup">
      <ng-template matStepLabel>Infos réservation</ng-template>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de début</mat-label>
        <input matInput type="date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de fin</mat-label>
        <input matInput type="date" formControlName="endDate">
      </mat-form-field>

      <div *ngIf="reservationGroup.errors?.['carUnavailable'] && reservationGroup.dirty" class="error">
        Cette voiture est déjà réservée aux dates sélectionnées.
      </div>

      <div class="step-actions">
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 2 : Client -->
  <mat-step [stepControl]="clientGroup">
    <form [formGroup]="clientGroup">
      <ng-template matStepLabel>Infos client</ng-template>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstname">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de naissance</mat-label>
        <input matInput type='date' formControlName="birth">
      </mat-form-field>

      <div class="step-actions">
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 3 : Adresse -->
  <mat-step>
    <form [formGroup]="addressGroup">
      <ng-template matStepLabel>Adresse</ng-template>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Code postal</mat-label>
        <input matInput formControlName="postal_code">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Ville</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Pays</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>

      <div class="step-actions">
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 4 : Permis -->
  <mat-step>
    <form [formGroup]="licenseGroup">
      <ng-template matStepLabel>Permis</ng-template>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Numéro de permis</mat-label>
        <input matInput formControlName="license_number">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de délivrance</mat-label>
        <input matInput type="date" formControlName="license_issue_date">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date d'expiration</mat-label>
        <input matInput type="date" formControlName="license_expiry_date">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Pays de délivrance</mat-label>
        <input matInput formControlName="license_country">
      </mat-form-field>

      <div class="step-actions">
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 5 : Garantie -->
  <mat-step>
      <ng-template matStepLabel>Garantie</ng-template>

      <h2 class="titre-centre">Sélectionnez la protection souhaitée</h2>
      <div class="garantie-container">
        <div
          class="garantie-card"
          *ngFor="let garantie of garanties; let i = index"
          [class.selected]="isSelected(i)"
          (click)="select(i)"
        >
          <div class="garantie-header">
            <div>
              <h3>{{ garantie.guarantee_name }}</h3>
              <p>{{ garantie.guarantee_description }}</p>
            </div>
            <div class="prix">{{ garantie.guarantee_price | currency:'EUR':'symbol':'1.2-2' }}</div>
          </div>

          <div *ngIf="isSelected(i)" class="garantie-details">
            <ul>
              <li class="inclusion">Assurance au tiers</li>
              <li class="inclusion">Assistance dépannage 24/7</li>
              <li class="exclusion">Franchise à vérifier</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="step-actions">
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
  </mat-step>

  <!-- Étape 6 : Options -->
  <mat-step>
    <ng-template matStepLabel>Options</ng-template>

    <h2>Options disponibles</h2>
    <div class="option-container">
      <div
        *ngFor="let option of options"
        class="option-card"
      >
        <mat-checkbox
          (change)="toggleOption(option)"
        >
          <strong>{{ option.option_name }}</strong>
        </mat-checkbox>

        <p>{{ option.option_description }}</p>
        <span>+{{ option.option_price | currency:'EUR' }}/jour</span>
      </div>
    </div>

    <div class="step-actions">
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>

  <!-- Étape 7 : Récapitulatif -->
  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>

    <div class="recap-container">
      <h2>Récapitulatif</h2>
      <div class="recap-grid">
        <p><strong>Début :</strong> {{ reservationValues.startDate }}</p>
        <p><strong>Fin :</strong> {{ reservationValues.endDate }}</p>

        <p><strong>Nom :</strong> {{ clientValues.name }}</p>
        <p><strong>Prénom :</strong> {{ clientValues.firstname }}</p>
        <p><strong>Email :</strong> {{ clientValues.email }}</p>
        <p><strong>Téléphone :</strong> {{ clientValues.phone }}</p>
        <p><strong>Date de naissance :</strong> {{ clientValues.birth }}</p>
        <p><strong>Adresse :</strong> {{ addressValues.address }}</p>
        <p><strong>Code postal :</strong> {{ addressValues.postal_code }}</p>
        <p><strong>Ville :</strong> {{ addressValues.city }}</p>
        <p><strong>Pays :</strong> {{ addressValues.country }}</p>
        <p><strong>Numéro de permis :</strong> {{ licenseValues.license_number }}</p>
        <p><strong>Date de délivrance :</strong> {{ licenseValues.license_issue_date }}</p>
        <p><strong>Date d'expiration du permis :</strong> {{ licenseValues.license_expiry_date }}</p>

        <p *ngIf="getSelectedGuarantee() as g">
          <strong>Garantie choisie :</strong>
          {{ g.guarantee_name }} ({{ g.guarantee_price | currency:'EUR':'symbol':'1.2-2' }})
        </p>

        <div *ngIf="getSelectedOptions().length > 0">
          <p><strong>Options sélectionnées :</strong></p>
          <ul>
            <li *ngFor="let opt of getSelectedOptions()">
              {{ opt.option_name }} : Oui
            </li>
          </ul>
        </div>
        </div>
    </div>

    <div class="recap-pricing">
      <h3><strong>Prix / jour :</strong> {{ getRoundedPrice(getDailyTotal()) | currency:'EUR':'symbol':'1.2-2' }}</h3>
      <h3><strong>Prix pour {{ reservationDays }} jour(s) :</strong> {{ getRoundedPrice(getTotalReservation()) | currency:'EUR':'symbol':'1.2-2' }}</h3>
    </div>

    <div class="step-actions">
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button color="primary" (click)="onSubmit()">Confirmer la réservation</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
