.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 80px;
  background-color: midnightblue;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  .left {
    padding-left: 20px;
  }
}

.homepage-content {
  text-align: center;
  img {
    width: 300px;
  }
}

footer {
  height: 80px;
  padding: 20px;
  background-color: #efeeef;
  text-align: center;
  align-content: center;
}
