<div class="homepage-content">
  <div class="title">
    <div class="logo-container">
      <div class="logo">DriveBy</div>
    </div>

    <div class="slogan">
      Trouvez ce qui vous transporte
    </div>
  </div>

  <button mat-button class="button-search">
    <mat-icon>search</mat-icon>
    Recherche
  </button>

  @if (!auth.isLoggedIn()) {
    <button mat-button (click)="openLogin()" class="button-connexion">Connexion</button>
    <button mat-button (click)="openSignin()" class="button-connexion">Enregistrement</button>
  }
  <button mat-button (click)="auth.logout()" class="button-connexion" *ngIf="auth.isLoggedIn()">
    Déconnexion</button>
</div>
