<div class="homepage-content">
  <div class="title">
    <div class="logo-container">
      <div class="logo">DriveBy</div>
    </div>

    <div class="slogan">
      Trouvez ce qui vous transporte
    </div>
  </div>

  <button mat-button class="button-search">
    <mat-icon>search</mat-icon>
    Recherche
  </button>

  <button mat-button routerLink="/connexion" class="button-connexion">Connexion</button>
  <button mat-button routerLink="/enregistrement" class="button-connexion">Enregistrement</button>
</div>
